<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5WnZ9jtQ9ijyBfMlV1w9naG0t-D6FYRw</string>
	<key>GCM_SENDER_ID</key>
	<string>623372681577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yh.fijob</string>
	<key>PROJECT_ID</key>
	<string>fijob-9abb4</string>
	<key>STORAGE_BUCKET</key>
	<string>fijob-9abb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623372681577:ios:c848120ee4f7040c09bdf8</string>
</dict>
</plist>